.container{
    flex: 0.65;
    background-color: #d9ffdd;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;
    overflow: auto;
}

.header{
    margin-top: 2rem;
    display: flex;
    justify-content: center;

}

.headerPaper{
    width: 10rem !important;
    height: 6.5rem !important;
    object-fit: contain;
    margin: 0.5rem;
    background-color: #68ae96 !important;
}