.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: lightgreen;
}

.login_logo{
    object-fit: fill;
    width: 100px;
    margin-bottom: 40px;
}

.login_container{
    padding: 100px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 10px 7px 43px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 7px 43px -5px rgba(0,0,0,0.75);
box-shadow: 10px 7px 43px -5px rgba(0,0,0,0.75);
}

.login_container > h5{
    font-weight: bold !important;
}
.login_container > button{
    background-color: #1886EA !important;
    color: white !important;
    text-transform: inherit;
    margin-top: 30px;
}